<div class="ui grid">
  <div class="row">
    <div class="ten wide column">
      <div class="ui header">{{formattedDate}}</div>
      {{model.service}}
    </div>
    <div class="five wide right column">
      <button class="ui small blue button" {{action "toggleEditing"}}>Edit</button>
      {{#if model.file}}
        <a href="{{model.fileURL}}" class="ui small black button" target="_blank">View</a>
      {{/if}}
      <button class="ui small red button" {{action 'remove'}}>Delete</button>
    </div>
  </div>
  <div class="row editor">
    <div class="four wide column preview-image-container">
      {{#if previewPreview}}
        <img class="preview-image" src="{{previewPreview}}">
      {{else if model.preview}}
        <img class="preview-image" src="{{model.previewURL}}">
      {{else}}
        <div class="preview-image placeholder">I wish I were<br>a cover image</div>
      {{/if}}
    </div>
    <div class="twelve wide column">
      <form class="ui fluid form">
        <div class="field">
          {{file-upload
            initialFilename=model.file
            on-selected=(action "fileSelected" "model.file")
            on-uploading=(action "fileUploadStarted")
            on-uploaded=(action "fileUploaded" "model.file")
            button-text="Upload PDF"
          }}
        </div>
        <div class="field">
          {{file-upload
            initialFilename=model.preview
            on-selected=(action "fileSelected" "model.preview")
            on-uploading=(action "fileUploadStarted" "model.preview")
            on-uploaded=(action "fileUploaded" "model.preview")
            button-text="Upload preview image"
          }}
        </div>
        <div class="field">
          <label>Service</label>
          <div class="ui left labeled input">
            {{input class="service" value=model.service placeholder="e.g. ICON"}}
            {{#if model.errors.service}}
              <div class="ui red pointing above label">{{model.errors.service}}</div>
            {{/if}}
          </div>
        </div>
        <div class="date field">
          <label>Service Date</label>
          <div class="ui left labeled input">
            {{date-field date=model.date}}
            {{#if model.errors.date}}
              <div class="ui red pointing above label">{{model.errors.date}}</div>
            {{/if}}
          </div>
        </div>
        <div class="field">
          <label>Liturgical Day</label>
          <div class="ui left labeled input">
            {{input value=model.liturgicalDay}}
          </div>
        </div>
        <div class="field">
          <label>Description</label>
          <div class="ui left labeled input">
            {{textarea value=model.description}}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{input type="checkbox" checked=model.visible}}
            <label>Publish to app/website</label>
          </div>
        </div>
        <div class="field">
          <button type="button" class="ui black button" {{action "cancelEditing"}}>Cancel</button>
          <button class="save ui blue button {{unless model.hasChanges 'disabled'}}" {{action "save"}}>Save</button>
        </div>
      </form>
    </div>
  </div>
</div>