<div class="file-label {{if initialFilename '' 'hidden'}}"}}>
  <div class="ui black horizontal label">
    <i class="file icon"></i> {{initialFilename}}
  </div>
  <a href="#" {{action "replace"}}>Replace</a>
</div>

<div class="{{if initialFilename 'hidden'}}">
  <input type="file" class="hidden">
  <button class="ui small black button" {{action "triggerClick"}}>Upload file</button>
</div>
