{{#if initialFilename}}
  <div class="file-label">
    <div class="ui black horizontal label">
      <i class="file icon"></i> {{initialFilename}}
    </div>
    <a href="#" {{action "replace"}}>Replace</a>
  </div>
{{else if file}}
  <div class="file-label">
    <div class="ui black horizontal label">
      <i class="file icon"></i> {{file.name}}
    </div>
    {{#unless isUploading}}
      <a href="#" {{action "upload"}}>Upload</a>
    {{/unless}}
  </div>
  {{#if isUploading}}
    <div class="ui progress {{if uploaded 'success'}}">
      <div class="bar" style={{progressStyle}}></div>
    </div>
  {{/if}}
{{else}}
  <div>
    <button class="ui small black button" {{action "triggerClick"}}>{{button-text}}</button>
  </div>
{{/if}}
<input type="file" class="hidden">