<div class="narrow">
  <h1 class="ui header">Send Push Notification</h1>

  <form class="ui form {{if loading 'loading'}}">
    <div class="field">
      <label>Expiration Date</label>
      {{date-field date=model.expirationDate}}
    </div>
    <div class="field">
      <label>Message</label>
      {{textarea value=model.message}}
    </div>
    <div class="field">
      <label>Associated URL</label>
      {{validated-url value=model.url isValid=urlIsValid}}
    </div>
    <div class="grouped fields">
      <label>ZeroPush Token</label>
      <div class="field">
        {{ui-radio name="environment" current=tokenEnvironment value="ZEROPUSH_PROD_TOKEN" label="Production"}}
      </div>
      <div class="field">
        {{ui-radio name="environment" current=tokenEnvironment value="ZEROPUSH_DEV_TOKEN" label="Development"}}
      </div>
    </div>
    <div class="space-above">
      <button type="button" class="ui blue button {{unless isValid 'disabled'}}" {{action "test"}}>Test</button>
      <button type="button" class="ui red button {{unless isValid 'disabled'}}" {{action "send"}}>Send</button>
    </div>
  </form>
</div>
